<div id="footer_upper">
    <div id="footer_logo">
        <a href="index.html">
            <img src="../pictures/logo.png">
        </a>
    </div>

    <div id="footer-information">
        <p class="footer_category_title">
            Main information
        </p>

        <nav class="footer_menu">
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Help & Support</a></li>
                <li><a href="#">The impact</a></li>
                <li><a href="#">Get involved</a></li>
            </ul>
        </nav>
    </div>

    <div id="footer-interests">
        <p class="footer_category_title">
            For you!
        </p>

        <nav class="footer_menu">
            <ul>
                <li><a href="#">News</a></li>
                <li><a href="#">Next eventst</a></li>
                <li> <a href="#">Donate</a></li>
                <li><a href="#">Stories & Testimonials</a></li>
            </ul>
        </nav>
    </div>

    <div id="footer-social_Media">
        <p class="footer_category_title">
            Social media
        </p>

        <nav class="footer_menu">
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Youtube</a></li>
                <li> <a href="#">X</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="footer_bottom">
    &copy; 2026 Empower Change Foundation. Built with ❤️ for the community.
</div>